name: Deploy to S3 with self-hosted runner
on:
  workflow_dispatch:

jobs:
  deploy-with-self-hosted-runner:
    environment: demo
    runs-on: [self-hosted, linux, x64, demo]
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Create ASCII Art
        run: |
          echo "zero trust" > demo.txt

      - name: Upload to S3
        run: |
          aws s3 cp demo.txt s3://${{ vars.AWS_BUCKET_NAME }}/demo-${{ github.job }}.txt

      - name: Show content of file in s3
        run: |
          aws s3 cp s3://${{ vars.AWS_BUCKET_NAME }}/demo-${{ github.job }}.txt - | cat
